<!--The content below is only a placeholder and can be replaced.-->
<mat-form-field>
  <input matInput (keyup)="onSearch($event)" placeholder="Search things" value="">
</mat-form-field>
<ng-container *ngIf="{things: thingService.data$ | async} as async">
  <mat-list fxHide.gt fxHide.lg fxHide.md>
    <ng-container *ngFor="let thing of async.things | filter : search">
      <app-thing-li [thing]="thing"></app-thing-li>
    </ng-container>
  </mat-list>
  <div fxHide.sm fxHide.xs>
    <ng-container *ngFor="let thing of async.things | filter : search">
      <app-thing-card [thing]="thing"></app-thing-card>
    </ng-container>
  </div>
</ng-container>
